:root {
    --fondo: #AEBEA1;
    --encabezado: #51624F;
    --green: #87D47F;
    --aside: #E6D5AA;
    --coral: #C3C29C;
    --gap: 15px;
  }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.7fr;
    grid-template-areas: "nav nav nav nav aside"
                         "header header header header aside"
                         "header header header header aside"
                         "header header header header aside";
    color: white;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo titulo"
                          "plantas plantas plantas plantas";
    background-color: var(--fondo);
    grid-area: header;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 3px var(--encabezado);
    font-size: 2rem;
    justify-items: center;
    gap: 30px;
    padding: var(--gap);
  }

 
  .plantas {
    grid-auto-flow: column;
    margin: 2px;
    margin-top: -130px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
  }

  .header .plantas,
  .plantas h2,
  .plantas p{
    position: relative;
    z-index: 1;
  }

  p {
    font-size: 14px;
    opacity: 0;
  }

  
  .plantas img {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "plantas plantas plantas plantas"
                          "plantas plantas plantas plantas";
    grid-area: plantas;
    width: 100%;
    margin-top: 10px;
    border-radius: 50px;
    overflow: hidden;
  }

  header .titulo {
    display: grid;
    grid-area: titulo;
  }
  
  /*
  
  .plantas .background-hover{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 250px;
    left: -170px;
    border-radius: 100%;
    transition: all 300ms;
  }
*/

  aside {
    display: grid;
    font-size: small;
    text-align: center;
    background-color: var(--coral);
    grid-area: aside;
    padding: var(--gap);
    grid-template-rows: repeat(4, max-content);
    align-content: center;
    gap: var(--gap);
  }

  aside > img {
    max-width: 60%;
    margin: 0 auto;
  }
  
  #info {
    display: grid;
    grid-template-columns: 1fr;
    height: 40px;
    box-shadow: 0px 2px 12px rgba(0,0,0,.3);
  }
    
  nav {
    display: grid;
    font-size: medium; 
    justify-items: center;
    background-color: var(--encabezado);
    grid-area: nav;
    align-items: stretch;
  }
  
  ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: calc(var(--gap) * 3);
    align-items: center;
  }
  
  li {
    padding: 0 var(--gap);
  }
  
  h1 {
    font-weight: normal;
    text-align: center;
  }
  
  h2 {
    margin-bottom: var(--gap);
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 700;
  }
  
  @media (max-width: 1000px) {
    header {
      font-size: 1.5rem;
    }

    .plantas img {
      justify-content: space-around;
      margin: auto;
      width: 20vh;
      box-shadow: 0px 2px 12px white;
    }
  
    aside {
      display: grid;
      align-content: center;
      text-align: center;
      bottom: 0px;
    }
  }
  
   @media (max-width: 950px) {
    body {
      display: grid;
      grid-template-rows: 0.1fr 1fr 0.1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "nav" "header" "aside";
    }

    .plantas img {
      justify-content: space-around;
      margin: auto;
      width: 20vh;
    }
    aside {
      display: grid;
      align-content: center;
      text-align: center;
      justify-content: space-around;
      margin: 0%;
      position: relative;
      bottom: 0px;
    }
  
 
    aside > img {
      display: none;
    }
  }

  .plantas img:hover {
    transform: scale(1.5);
    left: 50px;
    top: 50px;
    position: relative;
    z-index: 2;
  }

  /*
  .plantas img:hover {
    transform: scale(1.5);
    opacity: 0.3;
    box-shadow: 0px 2px 12px white;
  }

  .plantas:hover .background-hover{
    width: 400px;
    height: 400px;
    opacity: 0.3;
    top: -70px;
    left: -90px;
  }
 */
  .plantas img {
    animation-name: sombra;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;

  }

  .plantas img:nth-child(1) {
    animation-delay: 2s;
  }
  
  .plantas img:nth-child(2) {
    animation-delay: 6s;
  }
  
  .plantas img:nth-child(3) {
    animation-delay: 1.6s;
  }
  
  .plantas img:nth-child(4) {
    animation-delay: 0.5s;
  }
  
  .plantas img:nth-child(5) {
    animation-delay: 1s;
  }
  
  .plantas img:nth-child(6) {
    animation-delay: 2s;
  }
  
  .plantas img:nth-child(7) {
    animation-delay: 2.4s;
  }
  
  .plantas img:nth-child(8) {
    animation-delay: 4s;
  }
  
  @keyframes sombra {
    from {box-shadow: gold;}
    to {box-shadow: darkgreen;}
  }
  
 
